<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    {% if external_js %}
        <script src="https://cvssjs.github.io/cvss.js"></script>
    {% else %}
        <script src="/static/js/cvss.js"></script>
    {% endif %}
    {% if external_css %}
        <link rel="stylesheet" type="text/css" media="all" href="https://cvssjs.github.io/cvss.css">
    {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/cvss.css">
    {% endif %}
    <script>
        $(function () {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            $('#hosts_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('#hostnames_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('.ui.dropdown.selection').dropdown({});

            $('.ui.checkbox').checkbox();
            var c = new CVSS("cvssboard", {
                onchange: function () {
                    window.location.hash = c.get().vector;
                    c.vector.setAttribute('href', '#' + c.get().vector)
                }
            });
            if (window.location.hash.substring(1).length > 0) {
                c.set(decodeURIComponent(window.location.hash.substring(1)));
            }
        });
        $(document).ready(function () {
            $('.menu .item').tab({
                history: true,
                historyType: 'hash'
            });
        });

        function delete_prompt(func, message) {
            if (confirm(message))
                return true;
            return false;
        };

        hljs.initHighlightingOnLoad();

    </script>
    <style>
        .ui.dropdown .menu {
            min-width: 100%;
        }

        .ui.dropdown.dropdown .menu > .input {
            min-width: 80%;
        }
    </style>
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Issue: {{ escape(current_issue['name']) }}</h1>
            <div class="ui top attached tabular menu" style="margin-bottom: 10px">
                <a class="item active" data-tab="info">
                    Issue information
                </a>
                <a class="item" data-tab="poc">
                    Proof of concepts
                </a>
                <a class="item" data-tab="fields">
                    Additional fields
                </a>
            </div>
            <div class="ui tab active" data-tab="info">
                <form class="ui form" method="post"
                      action="/project/{{ current_project['id'] }}/issue/{{ current_issue['id'] }}/"
                      style="margin-top: 15px; width: 100%">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="ui grid" style="width: 100%">
                        <div class="eight wide column">
                            <div class="ui container" style="width: 90%; float: left;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="at icon"></i>Name:
                                        </div>
                                        <input type="text" name="name" placeholder="SQL injection.." required
                                               value="{{ escape(current_issue['name']) }}">
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="sticky note outline icon"></i>Description:
                                        </div>
                                        <textarea rows="8" name="description"
                                                  placeholder="Vulnerability description">{{ escape(current_issue['description']) }}</textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="medkit icon"></i>Fix:
                                        </div>
                                        <textarea rows="2" name="fix"
                                                  placeholder="To fix this vulnerability you need...">{{ escape(current_issue['fix']) }}</textarea>
                                    </div>
                                </div>
                                <div class="ui label" style="width: 125px;">
                                    <h5><i class="fork icon"></i>Services:</h5>
                                </div>
                                <div class="ui grid" style="height: 400px;">
                                    <div class="eight wide column">
                                        <div class="ui field">
                                            <div class="ui dropdown" id="hosts_list" style="width: 100%;">
                                                <div class="menu transition visible" style="width: 90%;">
                                                    <div class="ui icon search input">
                                                        <i class="search icon"></i>
                                                        <input type="text" name="Search" placeholder="Search&hellip;">
                                                    </div>
                                                    <div class="scrolling menu" style="height:270px;">
                                                        {% set issue_service_dict = json_unpack(current_issue['services']) %}
                                                        {% set ports = db.select_project_pair_host_port(current_project['id']) %}
                                                        {% for port in ports %}
                                                            <div class="ui item checkbox" data-value="item1"
                                                                 id="ip_row">
                                                                <input type="checkbox" name="ip_port-{{ loop.index }}"
                                                                       value="{{ port['port_id'] }}"
                                                                       {% if port['port_id'] in issue_service_dict and "0" in issue_service_dict[port['port_id']] %}checked{% endif %}>
                                                                <label>{{ escape(port['ip']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %}(udp){% endif %}{% endif %}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eight wide column">
                                        <div class="ui field">
                                            <div class="ui dropdown" id="hostnames_list" style="width: 100%;">
                                                <div class="menu transition visible" style="width: 90%;">
                                                    <div class="ui icon search input">
                                                        <i class="search icon"></i>
                                                        <input type="text" name="Search" placeholder="Search&hellip;">
                                                    </div>
                                                    <div class="scrolling menu" style="height:270px;">
                                                        {% set ports = db.select_project_pair_hostname_port(current_project['id']) %}
                                                        {% for port in ports %}
                                                            <div class="ui item checkbox" data-value="item1"
                                                                 id="hostname_row">
                                                                <input type="checkbox" name="host_port-{{ loop.index }}" value="{{ port['port_id'] }}:{{ port['hostname_id'] }}" {% if port['port_id'] in issue_service_dict and port['hostname_id'] in issue_service_dict[port['port_id']] %}checked{% endif %}>
                                                                <label>{{ escape(port['hostname']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %} (udp){% endif %}{% endif %}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label">
                                        <i class="folder open icon"></i>URL path/service:
                                    </div>
                                    <input type="text" name="url" placeholder="/admin/"
                                           value="{{ escape(current_issue['url_path']) }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CVSS:
                                    </div>
                                    <input type="text" name="cvss" step="0.01" min="0" max="10" placeholder="10.0"
                                           value="{{ escape(current_issue['cvss']) }}">
                                    <button type="button" class="ui button blue" onclick="$('#cvss_hidden').toggle();">
                                        <i class="ui calculator icon"></i>CVSS calculator
                                    </button>
                                </div>
                            </div>
                            <div id="cvss_hidden" style="display: none">
                                <div class="ui divider"></div>
                                <div id="cvssboard">
                                </div>
                                <div class="ui divider"></div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CVE:
                                    </div>
                                    <input type="text" name="cve" placeholder="2020-1337"
                                           value="{{ escape(current_issue['cve']) }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CWE:
                                    </div>
                                    <input type="text" name="cwe" placeholder="123"
                                           value="{{ escape(current_issue['cwe']) }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="question circle icon"></i>Status:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="status" required
                                               value="{{ escape(current_issue['status']) }}">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select status</div>
                                        <div class="menu">
                                            <div class="item" data-value="PoC creation">PoC creation</div>
                                            <div class="item" data-value="PoC available">PoC available</div>
                                            <div class="item" data-value="Confirmed">Confirmed</div>
                                            <div class="item" data-value="Wasn't Confirmed">Wasn't Confirmed</div>
                                            <div class="item" data-value="Pending...">Pending...</div>
                                            <div class="item" data-value="Need to check">Need to check</div>
                                            <div class="item" data-value="Need to recheck">Need to recheck</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="exclamation triangle icon"></i>Criticality:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="criticality" required value="-1">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select criticality</div>
                                        <div class="menu">
                                            <div class="item" data-value="-1">use CVSS criticality</div>
                                            <div class="item" data-value="0"><i class="warning circle blue icon"></i>Information
                                                (cvss=0.0)
                                            </div>
                                            <div class="item" data-value="2"><i class="warning circle green icon"></i>Low
                                                (cvss=2.0)
                                            </div>
                                            <div class="item" data-value="5"><i class="warning circle yellow icon"></i>Medium
                                                (cvss=5.0)
                                            </div>
                                            <div class="item" data-value="8"><i class="warning circle orange icon"></i>High
                                                (cvss=8.0)
                                            </div>
                                            <div class="item" data-value="9.5"><i class="warning circle red icon"></i>Critical
                                                (cvss=9.5)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="desktop icon"></i>Parameter:
                                    </div>
                                    <input type="text" name="param" placeholder="(GET) id=123"
                                           value="{{ escape(current_issue['param']) }}">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="desktop icon"></i>Type:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="issue_type" required
                                               value="{{ escape(current_issue['type']) }}">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select type</div>
                                        <div class="menu">
                                            <div class="item" data-value="custom">Custom</div>
                                            <div class="item" data-value="web">Web</div>
                                            <div class="item" data-value="credentials">Credentials</div>
                                            <div class="item" data-value="service">Service</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if update_info_errors is defined and update_info_errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with issue
                                    </div>
                                    <ul class="list">
                                        {% for error in update_info_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if errors is defined and not errors %}
                                <div class="ui success message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        Issue was added successfully!
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" style="float: left;" class="ui button blue"><i class="plus icon"></i>Update
                    </button>
                </form>
                <form action="/project/{{ current_project['id'] }}/issue/{{ current_issue['id'] }}/delete_issue"
                      method="post" onsubmit="return delete_prompt(this,'Are you sure to delete issue?')" style="display: inline-block;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="ui button red"><i class="trash icon"></i>Delete</button>
                    <a href="/share/issue/{{ current_issue['id'] }}/" class="ui button purple"><i
                            class="share square icon"></i>Share</a>
                </form>
                <form action="/new_template_from_issue" method="post" target="_blank" style="display: inline-block;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="issue_id" value="{{ current_issue['id'] }}"/>
                    <button type="submit" class="ui button orange" style="align: left;">
                        <i class="copy icon"></i>Template
                    </button>
                </form>
            </div>
            <script>
                var elements = document.querySelectorAll('[id=hostname_row]');
                for (i = 0; i < elements.length; i++) {
                    is_checked = elements[i].children[0].checked;
                    if (is_checked) {
                        elements[i].parentNode.prepend(elements[i]);
                    } else {

                    }
                }
                ;
                elements = document.querySelectorAll('[id=ip_row]');
                for (i = 0; i < elements.length; i++) {
                    is_checked = elements[i].children[0].checked;
                    if (is_checked) {
                        elements[i].parentNode.prepend(elements[i]);
                    } else {

                    }
                }

                $(document).ready(function () {
                    var table = $('#poc_list').DataTable({
                        "iDisplayLength": -1,
                        aLengthMenu: [
                            [10, 25, 50, 100, 200, -1],
                            [10, 25, 50, 100, 200, "All"]
                        ],
                        'columnDefs': [{
                            'targets': 4,
                            'searchable': false,
                            'orderable': false,
                        }],
                        "columns": [
                            null,
                            null,
                            null,
                            {
                                "orderable": false,
                                "className": "dt-body-center"
                            },
                            null
                        ]
                    });
                });

                function set_priority(element) {
                    if (!element.classList.contains("outline")) {
                        return;
                    }
                    images = document.querySelectorAll('[id=flag_img]');
                    for (i = 0; i < images.length; i++) {
                        images[i].classList.add("outline");
                    }
                    poc_id = element.attributes["data-value"].value;
                    csrf = '{{ csrf_token() }}';
                    data = 'poc_id=' + poc_id + '&csrf_token=' + csrf;
                    $.ajax({
                        type: "POST",
                        url: '/project/{{current_project['id']}}/issue/{{current_issue['id']}}/set_priority',
                        data: data,
                    }).done(function (response) {
                        if (response === "ok") {
                            element.classList.remove("outline");
                        }
                    });

                };

            </script>

            <style>
                tr.odd {
                    background-color: #fffdc2;
                }

                tr.even {
                    background-color: #c3ffcd;
                }

                .ui.menu:last-child {
                    margin-bottom: 0px;
                }
            </style>
            <div class="ui tab" data-tab="poc">
                <table id="poc_list" class="ui table" style="width: 100%">
                    <thead>
                    <tr id="table_header">
                        <th style="width: 50px;"></th>
                        <th><h4>host</h4></th>
                        <th><h4>description</h4></th>
                        <th><h4>proof-of-concept</h4></th>
                        <th style="width: 135px;"><h4>action</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set pocs = db.select_issue_pocs(current_issue['id']) %}
                    {% for current_poc in pocs %}
                    <tr>
                        <td>
                            <i data-value="{{ current_poc['id'] }}"
                               class="flag red {% if not current_poc['priority'] %}outline{% endif %} big icon"
                               id="flag_img" style="cursor: pointer;" onclick="set_priority(this)"></i>
                        </td>
                        {% if not (current_poc['hostname_id']=='0' and current_poc['port_id']=='0') %}
                            {% if current_poc['hostname_id']=='0' %}
                                {% set host = db.select_host_by_port_id(current_poc['port_id'])[0]['ip'] %}
                            {% else %}
                                {% set host = db.select_hostname(current_poc['hostname_id'])[0]['hostname'] %}
                            {% endif %}
                            {% set current_port = db.select_port(current_poc['port_id'])[0] %}
                        {% endif %}
                        <td style="word-break: break-all;text-align: left;">
                            {% if not (current_poc['hostname_id']=='0' and current_poc['port_id']=='0') %}
                                <h4>{{ escape(host) }}{% if current_port['port'] != 0 %}:{{ escape(current_port['port']) }}{% endif %}</h4>
                            {% endif %}
                        </td>
                        <td>{{ escape(current_poc['description']) }}</td>
                        <td style="align-content: center;">
                            {% if current_poc['type']=='image' %}
                            <div class="ui grid">
                                <div class="ui sixteen column centered grid">
                                    <img src="/static/files/poc/{{ current_poc['id'] }}" style="max-height: 400px;max-width: 800px">
                                </div>
                            </div>
                            {% else %}{% autoescape false %}
                            <pre style="overflow: auto"><code
                                    style="max-height: 400px; max-width:800px; margin-left: 10px; margin-right: 10px;">{{ escape(open('static/files/poc/'+current_poc['id']).read()) }}</code></pre>
                            {% endautoescape %}{% endif %}
                        </td>
                        <td>
                            <a href="/static/files/poc/{{ current_poc['id'] }}" class="ui vertical animated button blue"
                               tabindex="0">
                                <div class="hidden content">Download</div>
                                <div class="visible content">
                                    <i class="download icon"></i>
                                </div>
                            </a>
                            <form style="float:left;"
                                  action="/project/{{ current_project['id'] }}/issue/{{ current_issue['id'] }}/delete_poc"
                                  method="post" onsubmit="return delete_prompt(this,'Are you sure to delete PoC?')">
                                <button type="submit" class="ui vertical animated button red" tabindex="0" name="poc_id"
                                        value="{{ current_poc['id'] }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class="hidden content">Delete</div>
                                    <div class="visible content">
                                        <i class="trash icon"></i>
                                    </div>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2 class="ui dividing header">Upload PoC:</h2>
                <form class="ui form" method="post"
                      action="/project/{{ current_project['id'] }}/issue/{{ current_issue['id'] }}/new_poc#poc"
                      enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="ui field">
                        <div class="four fields">
                            <div class="field">
                                <div class="ui fluid selection dropdown" id="services_list">
                                    <input type="hidden" name="service" required
                                           value="0:0">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select type</div>
                                    <div class="menu">
                                        <div class="item" data-value="0:0">No service</div>
                                        {% set targets = json_unpack(current_issue['services']) %}
                                        {% for port_id in targets %}
                                            {% set current_port = db.select_port(port_id)[0] %}
                                            {% for hostname_id in targets[port_id] %}
                                                {% if hostname_id=='0' %}
                                                    {% set host = db.select_host_by_port_id(port_id)[0] %}
                                                    <div class="item" data-value="{{ port_id }}:0">{{ escape(host['ip']) }}{% if current_port['port'] != 0 %}:{{ escape(current_port['port']) }}{% endif %}</div>
                                                {% else %}
                                                    {% set current_hostname=db.select_hostname(hostname_id)[0] %}
                                                    <div class="item" data-value="{{ port_id }}:{{ hostname_id }}">{{ escape(current_hostname['hostname']) }}{% if current_port['port'] != 0 %}:{{ escape(current_port['port']) }}{% endif %}</div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <input type="text" name="comment" placeholder="PoC description">
                            </div>
                            <div class="field">
                                <label for="file" class="ui icon button" style="margin-bottom: 15px;">
                                    <i class="file icon"></i>
                                    Open File</label>
                                <input type="file" id="file" name="file" required style="display:none">
                            </div>
                            <div class="field">
                                <button type="submit" class="ui button blue"><i class="upload icon"></i>Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% if poc_errors is defined and poc_errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with PoC
                        </div>
                        <ul class="list">
                            {% for error in poc_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="ui tab" data-tab="fields">
                {% set fields = json_unpack(current_issue['fields']) %}
                <script>
                    $(document).ready(function () {
                        $('#new_field_dropdown').dropdown({});
                    });
                    var fields_list = {{ json_pack(list(fields)) | safe }};

                    function add_field() {
                        html = `<div>
                                          <h4>__field_name__ (__field_type__)</h4>
                                          <input type="hidden" name="additional_field_name" value="__field_name__">
                                          <input type="hidden" name="additional_field_type" value="__field_db_type__">
                                                <div class="ui two fields">
                                                    <div class="field">
                                                        <div class="ui input">
                                                            <input type="__field_html_type__" placeholder="Field value" name="additional_field_value">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <button class="ui button red" type="button" onclick="delete_field(this,'__field_name__');">
                                                            <i class="trash icon"></i>Delete variable
                                                        </button>
                                                    </div>
                                                </div>
                                </div>`;
                        name_obj = $('#field_name')[0];
                        field_name = name_obj.value.toString();
                        field_db_type = $('#field_type')[0].value.toString();
                        field_html_type = 'text'
                        switch (field_db_type) {
                            case 'text':
                                field_html_type = 'text';
                                field_type = 'Text';
                                break;
                            case 'number':
                                field_html_type = 'number';
                                field_type = 'Number';
                                break;
                            case 'float':
                                field_html_type = 'number';
                                field_type = 'Float';
                                break;
                            case 'boolean':
                                field_html_type = 'number';
                                field_type = 'Boolean 0..1';
                                break;
                            default:
                                field_db_type = 'text';
                                field_type = 'Text';
                                break;
                        }


                        var re = new RegExp("^[a-zA-Z0-9_]+$");

                        if (field_name !== '' && re.test(field_name) && !fields_list.includes(field_name)) {
                            tmp_html = html.replaceAll('__field_name__', field_name)
                                .replaceAll('__field_type__', field_type)
                                .replaceAll('__field_html_type__', field_html_type)
                                .replaceAll('__field_db_type__', field_db_type);
                            fields_list.push(field_name);
                            $('#fields_list').append(tmp_html);
                            name_obj.value = '';
                        }


                    }

                    function add_file_field() {
                        html = `<div>
                                    <h4>File: __field_name__</h4>
                                    <input type="hidden" name="additional_field_name" value="__field_name__">
                                    <div class="ui two fields">
                                        <div class="field">
                                            <div class="ui input">
                                                <input type="file" required name="additional_field_file">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <button class="ui button red" type="button" onclick="delete_field(this,'__field_name__');">
                                                <i class="trash icon"></i>Delete variable
                                            </button>
                                        </div>
                                    </div>
                                </div>`;
                        name_obj = $('#file_name')[0];
                        field_name = name_obj.value.toString();


                        var re = new RegExp("^[a-zA-Z0-9_]+$");

                        if (field_name !== '' && re.test(field_name) && !fields_list.includes(field_name)) {
                            tmp_html = html.replaceAll('__field_name__', field_name)
                            fields_list.push(field_name);
                            $('#files_list').append(tmp_html);
                            name_obj.value = '';
                        }

                    }

                    function delete_field(button_obj, field_name) {
                        elem = button_obj.parentElement.parentElement.parentElement;
                        elem.parentNode.removeChild(elem);

                        for (var i = 0; i < fields_list.length; i++) {
                            if (fields_list[i] === field_name) {
                                fields_list.splice(i, 1);
                            }
                        }
                    };

                </script>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui grid">
                    <div class="two column row">

                        <div class="ui column">
                            <h2 class="ui dividing header">Text fields</h2>
                            <form action="/project/{{ current_project['id'] }}/issue/{{ current_issue['id'] }}/edit_text_fields"
                                  method="post" class="ui form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div id="fields_list">
                                    {% for field_name in fields %}
                                        {% if fields[field_name]['type'] != 'file' %}
                                            <div>
                                                <h4>{{ escape(field_name) }} ({{ fields[field_name]['type'] }})</h4>
                                                <input type="hidden" name="additional_field_name" value="{{ escape(field_name) }}">
                                                <input type="hidden" name="additional_field_type" value="{{ fields[field_name]['type'] }}">
                                                <div class="ui two fields">
                                                    <div class="field">
                                                        <div class="ui input">
                                                            {% if fields[field_name]['type'] == 'text' %}
                                                                <input type="text" value="{{ escape(fields[field_name]['value']) }}" placeholder="Field value" name="additional_field_value">
                                                            {% elif fields[field_name]['type'] == 'float' %}
                                                                <input type="number" step="any" value="{{ fields[field_name]['value'] | float }}" placeholder="Field value" name="additional_field_value">
                                                            {% else %}
                                                                <input type="number" value="{{ fields[field_name]['value'] | int }}" placeholder="Field value" name="additional_field_value">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <button class="ui button red" type="button" onclick="delete_field(this,'{{ escape(field_name) }}');">
                                                            <i class="trash icon"></i>Delete variable
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="divider"></div>
                                <h3 class="ui dividing header">Add field</h3>
                                <div class="ui three fields">
                                    <div class="field">
                                        <div class="ui input">
                                            <input type="text" id="field_name" placeholder="field_name [a-zA-Z0-9_]"> </input>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui fluid selection dropdown" id="new_field_dropdown">
                                            <input type="hidden" id="field_type" value="text" required>
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select field type</div>
                                            <div class="menu">
                                                <div class="item" data-value="text">Text field</div>
                                                <div class="item" data-value="number">Number field</div>
                                                <div class="item" data-value="float">Float field</div>
                                                <div class="item" data-value="boolean">Boolean field</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <button class="ui button blue" type="button" onclick="add_field();">
                                                    <i class="icon plus"></i>Add
                                                </button>
                                            </div>
                                            <div class="field">
                                                <button type="submit" class="ui violet button">
                                                    <i class="save icon"></i>Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="ui column">
                            <h2 class="ui dividing header">File fields</h2>
                            <form action="/project/{{ current_project['id'] }}/issue/{{ current_issue['id'] }}/edit_file_fields"
                                  method="post" enctype="multipart/form-data" class="ui form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div id="files_list">
                                    {% for field_name in fields %}
                                        {% if fields[field_name]['type'] == 'file' %}
                                            <div>
                                                <h4>File: {{ escape(field_name) }}</h4>
                                                <input type="hidden" name="additional_field_old_file" value="{{ escape(field_name) }}">
                                                <div class="ui two fields">
                                                    <div class="field">
                                                        <div class="ui input">
                                                            <input type="text" value="{{ escape(db.select_files(fields[field_name]['value'])[0]['filename']) }}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <a class="ui button blue" type="button" href="/static/files/fields/{{ fields[field_name]['value'] }}">
                                                            <i class="download icon"></i>Download
                                                        </a>
                                                        <button class="ui button red" type="button" onclick="delete_field(this,'{{ escape(field_name) }}');">
                                                            <i class="trash icon"></i>Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <h3 class="ui dividing header">Add field</h3>
                                <div class="ui two fields">
                                    <div class="field">
                                        <div class="ui input">
                                            <input type="text" placeholder="field_name1 [a-zA-Z0-9_]" id="file_name"> </input>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <button class="ui button blue" type="button" onclick="add_file_field();">
                                                    <i class="icon plus"></i>Add
                                                </button>
                                            </div>
                                            <div class="field">
                                                <button type="submit" class="ui violet button">
                                                    <i class="save icon"></i>Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>