<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    {% if external_js %}
        <script src="https://cvssjs.github.io/cvss.js"></script>
    {% else %}
        <script src="/static/js/cvss.js"></script>
    {% endif %}
    {% if external_css %}
        <link rel="stylesheet" type="text/css" media="all" href="https://cvssjs.github.io/cvss.css">
    {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/cvss.css">
    {% endif %}
    <script>
        $(function () {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });


            $('.ui.dropdown.selection').dropdown({});


            $('.menu .item').tab({
                history: true,
                historyType: 'hash'
            });

            $('.ui.dropdown.selection').dropdown({});
        });
    </script>
    <style>
        .ui.dropdown .menu {
            min-width: 100%;
        }

        .ui.dropdown.dropdown .menu > .input {
            min-width: 80%;
        }
    </style>
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Create new issue from template: {{ escape(current_template['tpl_name']) }}</h1>
            <div class="ui top attached tabular menu" style="margin-bottom: 10px">
                <a class="item active" data-tab="variables">
                    Variables
                </a>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="ui tab active" data-tab="variables">
                <form class="ui form" enctype="multipart/form-data" method="post" action="/project/{{ current_project['id'] }}/issue_template/{{ current_template['id'] }}/"
                      style="margin-top: 15px; width: 100%" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <h3 class="ui header">You need to fill this variables:</h3>
                    {% set variables = json_unpack(current_template['variables']) %}
                    <div style="overflow: auto; height: 400px; width: 450px;">
                        {% for variable_name in variables %}
                            <div class="ui field" style="width: 90%">
                                <h4>{{ escape(variable_name) }} ({{ escape(variables[variable_name]['type']) }})</h4>
                                <input type="hidden" name="variable_name" value="{{ escape(variable_name) }}">
                                <input type="hidden" name="variable_type" value="{{ escape(variables[variable_name]['type']) }}">
                                <div class="field">
                                    <div class="ui input" style="max-width: 400px;">
                                        <input type="{% if variables[variable_name]['type'] == 'text' %}text{% else %}number{% endif %}" placeholder="Default value" name="variable_value"
                                               value="{% if variables[variable_name]['type'] == 'text' %}{{ escape(variables[variable_name]['value']) }}{% else %}{{ variables[variable_name]['value'] | int }}{% endif %}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="ui blue button" style="margin-top: 10px;">
                        <i class="plus icon"></i> Create
                    </button>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>