<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    {% if external_js %}
        <script src="https://cvssjs.github.io/cvss.js"></script>
    {% else %}
        <script src="/static/js/cvss.js"></script>
    {% endif %}
    {% if external_css %}
        <link rel="stylesheet" type="text/css" media="all" href="https://cvssjs.github.io/cvss.css">
    {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/cvss.css">
    {% endif %}
    <script>
        $(function () {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            $('#hosts_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('#hostnames_list').dropdown({
                action: 'nothing',
                fullTextSearch: "exact",
                sortSelect: true
            });

            $('.ui.dropdown.selection').dropdown({});

            $('.ui.checkbox').checkbox();
            var c = new CVSS("cvssboard", {
                onchange: function () {
                    window.location.hash = c.get().vector;
                    c.vector.setAttribute('href', '#' + c.get().vector)
                }
            });
            if (window.location.hash.substring(1).length > 0) {
                c.set(decodeURIComponent(window.location.hash.substring(1)));
            }
            $('.menu .item').tab({
                history: true,
                historyType: 'hash'
            });

            $('.ui.dropdown.selection').dropdown({});
        });

        var fields_list = [];

        function add_field() {
            html = `<div>
                              <h4>__field_name__ (__field_type__)</h4>
                              <input type="hidden" name="additional_field_name" value="__field_name__">
                              <input type="hidden" name="additional_field_type" value="__field_db_type__">
                                    <div class="ui two fields">
                                        <div class="field">
                                            <div class="ui input">
                                                <input type="__field_html_type__" placeholder="Field value" name="additional_field_value">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <button class="ui button red" type="button" onclick="delete_field(this,'__field_name__');">
                                                <i class="trash icon"></i>Delete variable
                                            </button>
                                        </div>
                                    </div>
                    </div>`;
            name_obj = $('#field_name')[0];
            field_name = name_obj.value.toString();
            field_db_type = $('#field_type')[0].value.toString();
            field_html_type = 'text'
            switch (field_db_type) {
                case 'text':
                    field_html_type = 'text';
                    field_type = 'Text';
                    break;
                case 'number':
                    field_html_type = 'number';
                    field_type = 'Number';
                    break;
                case 'float':
                    field_html_type = 'number';
                    field_type = 'Float';
                    break;
                case 'boolean':
                    field_html_type = 'number';
                    field_type = 'Boolean 0..1';
                    break;
                default:
                    field_db_type = 'text';
                    field_type = 'Text';
                    break;
            }


            var re = new RegExp("^[a-zA-Z0-9_]+$");

            if (field_name !== '' && re.test(field_name) && !fields_list.includes(field_name)) {
                tmp_html = html.replaceAll('__field_name__', field_name)
                    .replaceAll('__field_type__', field_type)
                    .replaceAll('__field_html_type__', field_html_type)
                    .replaceAll('__field_db_type__', field_db_type);
                fields_list.push(field_name);
                $('#fields_list').append(tmp_html);
                name_obj.value = '';
            }


        }

        function add_file_field() {
            html = `<div>
                        <h4>File: __field_name__</h4>
                        <input type="hidden" name="additional_field_filename" value="__field_name__">
                        <div class="ui two fields">
                            <div class="field">
                                <div class="ui input">
                                    <input type="file" required name="additional_field_file">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" type="button" onclick="delete_field(this,'__field_name__');">
                                    <i class="trash icon"></i>Delete variable
                                </button>
                            </div>
                        </div>
                    </div>`;
            name_obj = $('#file_name')[0];
            field_name = name_obj.value.toString();


            var re = new RegExp("^[a-zA-Z0-9_]+$");

            if (field_name !== '' && re.test(field_name) && !fields_list.includes(field_name)) {
                tmp_html = html.replaceAll('__field_name__', field_name)
                fields_list.push(field_name);
                $('#files_list').append(tmp_html);
                name_obj.value = '';
            }

        }

        function delete_field(button_obj, field_name) {
            elem = button_obj.parentElement.parentElement.parentElement;
            elem.parentNode.removeChild(elem);

            for (var i = 0; i < fields_list.length; i++) {
                if (fields_list[i] === field_name) {
                    fields_list.splice(i, 1);
                }
            }
        }
    </script>
    <style>
        .ui.dropdown .menu {
            min-width: 100%;
        }

        .ui.dropdown.dropdown .menu > .input {
            min-width: 80%;
        }
    </style>
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Create new issue</h1>
            <div class="ui top attached tabular menu" style="margin-bottom: 10px">
                <a class="item active" data-tab="info">
                    Info
                </a>
                <a class="item" data-tab="fields">
                    Additional fields
                </a>
            </div>
            <form class="ui form" enctype="multipart/form-data" method="post" action="/project/{{ current_project['id'] }}/new_issue"
                  style="margin-top: 15px; width: 100%" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui tab active" data-tab="info">
                    <div class="ui grid" style="width: 100%">
                        <div class="eight wide column">
                            <div class="ui container" style="width: 500px; float: left;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="at icon"></i>Name:
                                        </div>
                                        <input type="text" name="name" placeholder="SQL injection.." required>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="sticky note outline icon"></i>Description:
                                        </div>
                                        <textarea rows="8" name="description" placeholder="Vulnerability description"></textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="medkit icon"></i>Fix:
                                        </div>
                                        <textarea rows="2" name="fix"
                                                  placeholder="To fix this vulnerability you need..."></textarea>
                                    </div>
                                </div>
                                <div class="ui label" style="width: 125px;">
                                    <h5><i class="fork icon"></i>Services:</h5>
                                </div>
                                <div class="ui grid" style="height: 400px;">
                                    <div class="eight wide column">
                                        <div class="ui field">
                                            <div class="ui dropdown" id="hosts_list" style="width: 100%; min-width: 100%">
                                                <div class="menu transition visible" style="width: 90%;">
                                                    <div class="ui icon search input">
                                                        <i class="search icon"></i>
                                                        <input type="text" name="Search" placeholder="Search&hellip;">
                                                    </div>
                                                    <div class="scrolling menu" style="height:270px;">
                                                        {% set ports = db.select_project_pair_host_port(current_project['id']) %}
                                                        {% for port in ports %}
                                                            <div class="ui item checkbox" data-value="item1" id="ip_row">
                                                                <input type="checkbox" name="ip_port-{{ loop.index }}" value="{{ port['port_id'] }}" {% if 'service' in request.args and request.args['service']==port['port_id'] and 'hostname' in request.args and request.args['hostname']=='0' %}checked{% endif %}>
                                                                <label>{{ escape(port['ip']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %} (udp){% endif %}{% endif %}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eight wide column">
                                        <div class="ui field">
                                            <div class="ui dropdown" id="hostnames_list" style="width: 100%;">
                                                <div class="menu transition visible" style="width: 90%;">
                                                    <div class="ui icon search input">
                                                        <i class="search icon"></i>
                                                        <input type="text" name="Search" placeholder="Search&hellip;">
                                                    </div>
                                                    <div class="scrolling menu" style="height:270px;">
                                                        {% set ports = db.select_project_pair_hostname_port(current_project['id']) %}
                                                        {% for port in ports %}
                                                            <div class="ui item checkbox" data-value="item1" id="hostname_row">
                                                                <input type="checkbox" name="host_port-{{ loop.index }}" value="{{ port['port_id'] }}:{{ port['hostname_id'] }}" {% if 'service' in request.args and request.args['service']==port['port_id'] and 'hostname' in request.args and request.args['hostname']==port['hostname_id'] %}checked{% endif %}>
                                                                <label>{{ escape(port['hostname']) }}{% if port['port'] !=0 %}:{{ port['port'] }}{% if not port['is_tcp'] %} (udp){% endif %}{% endif %}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button class="ui button blue"><i class="plus icon"></i>Add</button>


                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label">
                                        <i class="folder open icon"></i>URL path/service:
                                    </div>
                                    <input type="text" name="url" placeholder="/admin/">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CVSS:
                                    </div>
                                    <input type="text" name="cvss" step="0.01" min="0" max="10" placeholder="10.0" value="0">
                                    <button type="button" class="ui button blue" onclick="$('#cvss_hidden').toggle();">
                                        <i class="ui calculator icon"></i>CVSS calculator
                                    </button>
                                </div>
                            </div>
                            <div id="cvss_hidden" style="display: none">
                                <div class="ui divider"></div>
                                <div id="cvssboard">
                                </div>
                                <div class="ui divider"></div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CVE:
                                    </div>
                                    <input type="text" name="cve" placeholder="2020-1337">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CWE:
                                    </div>
                                    <input type="text" name="cwe" placeholder="123">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="question circle icon"></i>Status:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="status" required value="Need to recheck">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select status</div>
                                        <div class="menu">
                                            <div class="item" data-value="PoC creation">PoC creation</div>
                                            <div class="item" data-value="PoC available">PoC available</div>
                                            <div class="item" data-value="Confirmed">Confirmed</div>
                                            <div class="item" data-value="Wasn't Confirmed">Wasn't Confirmed</div>
                                            <div class="item" data-value="Pending...">Pending...</div>
                                            <div class="item" data-value="Need to check">Need to check</div>
                                            <div class="item" data-value="Need to recheck">Need to recheck</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="exclamation triangle icon"></i>Criticality:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="criticality" required value="-1">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select criticality</div>
                                        <div class="menu">
                                            <div class="item" data-value="-1">use CVSS criticality</div>
                                            <div class="item" data-value="0"><i class="warning circle blue icon"></i>Information (cvss=0.0)</div>
                                            <div class="item" data-value="2"><i class="warning circle green icon"></i>Low (cvss=2.0)</div>
                                            <div class="item" data-value="5"><i class="warning circle yellow icon"></i>Medium (cvss=5.0)</div>
                                            <div class="item" data-value="8"><i class="warning circle orange icon"></i>High (cvss=8.0)</div>
                                            <div class="item" data-value="9.5"><i class="warning circle red icon"></i>Critical (cvss=9.5)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="desktop icon"></i>Parameter:
                                    </div>
                                    <input type="text" name="param" placeholder="(GET) id=123">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="desktop icon"></i>Type:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="issue_type" required value="custom">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select type</div>
                                        <div class="menu">
                                            <div class="item" data-value="custom">Custom</div>
                                            <div class="item" data-value="web">Web</div>
                                            <div class="item" data-value="credentials">Credentials</div>
                                            <div class="item" data-value="service">Service</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if errors is defined and errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with issue
                                    </div>
                                    <ul class="list">
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if errors is defined and not errors %}
                                <div class="ui success message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        Issue was added successfully!
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="ui tab" data-tab="fields">
                    <div class="ui grid">
                        <div class="two column row">

                            <div class="ui column">
                                <h2 class="ui dividing header">Text fields</h2>

                                <div id="fields_list">
                                </div>

                                <div class="divider"></div>
                                <h3 class="ui dividing header">Add field</h3>
                                <div class="ui three fields">
                                    <div class="field">
                                        <div class="ui input">
                                            <input type="text" id="field_name" placeholder="field_name [a-zA-Z0-9_]"> </input>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui fluid selection dropdown">
                                            <input type="hidden" id="field_type" value="text" required>
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select field type</div>
                                            <div class="menu">
                                                <div class="item" data-value="text">Text field</div>
                                                <div class="item" data-value="number">Number field</div>
                                                <div class="item" data-value="float">Float field</div>
                                                <div class="item" data-value="boolean">Boolean field</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="ui button blue" type="button" onclick="add_field();">
                                            <i class="icon plus"></i>Add variable
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="ui column">
                                <h2 class="ui dividing header">File fields</h2>

                                <div id="files_list"></div>

                                <h3 class="ui dividing header">Add field</h3>
                                <div class="ui two fields">
                                    <div class="field">
                                        <div class="ui input">
                                            <input type="text" placeholder="field_name1 [a-zA-Z0-9_]" id="file_name"> </input>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="ui button blue" type="button" onclick="add_file_field()">
                                            <i class="icon plus"></i>Add variable
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
            var elements = document.querySelectorAll('[id=hostname_row]');
            for (i = 0; i < elements.length; i++) {
                is_checked = elements[i].children[0].checked;
                if (is_checked) {
                    elements[i].parentNode.prepend(elements[i]);
                } else {

                }
            }
            ;
            elements = document.querySelectorAll('[id=ip_row]');
            for (i = 0; i < elements.length; i++) {
                is_checked = elements[i].children[0].checked;
                if (is_checked) {
                    elements[i].parentNode.prepend(elements[i]);
                } else {

                }
            }
        </script>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>