
<div class="ui inverted menu orange" id="header_menu">
    <a class="item" href="/">Pentest Collaboration Framework{% if current_project is defined %}:
        {{ escape(current_project['name']) }}{% endif %}</a>
    <div class="ui dropdown item">
        <i class="question circle outline icon"></i>
        Help
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="https://gitlab.com/invuls/pentest-projects/pcf/-/wikis/home" target="_blank"
               rel="noopener noreferrer"><i class="world icon"></i>Wiki</a>
            <div class="divider"></div>
            <a class="item" href="https://gitlab.com/invuls/pentest-projects/pcf" target="_blank"
               rel="noopener noreferrer"><i
                    class="git square icon"></i>Repository</a>
            <div class="divider"></div>
            <a class="item" href="https://gitlab.com/invuls/pentest-projects/pcf/-/issues/new?issuable_template=Feature%20request" target="_blank" rel="noopener noreferrer"><i
                    class="star outline icon"></i>Feature request</a>
            <div class="divider"></div>
            <a class="item" href="https://gitlab.com/invuls/pentest-projects/pcf/-/issues/new?issuable_template=Bug%20report" target="_blank" rel="noopener noreferrer"><i
                    class="bug icon"></i>Bug report</a>
            <div class="divider"></div>
            <a class="item" href="https://t.me/PentestCollaborationFramework" target="_blank" rel="noopener noreferrer"><i
                    class="send icon"></i>Telegram</a>

        </div>
    </div>
    <div class="right menu">
        {% if session.get('id') %}
            <div class="ui dropdown item">
                <i class="travel icon"></i>
                Projects
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/projects/"><i class="list icon"></i>List</a>
                    <div class="divider"></div>
                    <a class="item" href="/new_project"><i class="plus icon"></i> Add new</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <i class="users icon"></i>Teams
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for team in db.select_user_teams(session['id']) %}
                        <a class="item" href="/team/{{ team['id'] }}/"><i
                                class="share icon"></i>{{ escape(team['name']) }}</a>
                    {% endfor %}
                    <div class="divider"></div>
                    <a class="item" href="/create_team"><i class="plus icon"></i> Add new</a>
                </div>
            </div>
        {% endif %}
        <div class="ui dropdown item">
            <i class="settings icon"></i>Profile
            <i class="dropdown icon"></i>
            <div class="menu">
                {% if not session.get('id') %}
                    <a class="item" href="/login"><i class="sign in alternate icon"></i>Login</a>
                    <a class="item" href="/register"><i class="plus icon"></i>Register</a>
                {% else %}
                    <a class="item" href="/profile"><i class="edit icon"></i>Edit</a>
                    <div class="divider"></div>
                    <a class="item" href="/logout"><i class="sign out alternate icon"></i>Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>