<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    {% if external_js %}
        <script src="https://cvssjs.github.io/cvss.js"></script>
    {% else %}
        <script src="/static/js/cvss.js"></script>
    {% endif %}
    {% if external_css %}
        <link rel="stylesheet" type="text/css" media="all" href="https://cvssjs.github.io/cvss.css">
    {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/cvss.css">
    {% endif %}
    <script>
        $(function () {
            $('.ui.dropdown.selection').dropdown({});
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            var c = new CVSS("cvssboard", {
                    onchange: function () {
                    }
                }
            );
            $('.menu .item').tab({
                history: true,
                historyType: 'hash'
            });

        });

        var fields_list = [];

        function add_field() {
            html = `<div>
                              <h4>__field_name__ (__field_type__)</h4>
                              <input type="hidden" name="additional_field_name" value="__field_name__">
                              <input type="hidden" name="additional_field_type" value="__field_db_type__">
                                    <div class="ui two fields">
                                        <div class="field">
                                            <div class="ui input">
                                                <input type="__field_html_type__" placeholder="Field value" name="additional_field_value">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <button class="ui button red" type="button" onclick="delete_field(this,'__field_name__');">
                                                <i class="trash icon"></i>Delete variable
                                            </button>
                                        </div>
                                    </div>
                    </div>`;
            name_obj = $('#field_name')[0];
            field_name = name_obj.value.toString();
            field_db_type = $('#field_type')[0].value.toString();
            field_html_type = 'text'
            switch (field_db_type) {
                case 'text':
                    field_html_type = 'text';
                    field_type = 'Text';
                    break;
                case 'number':
                    field_html_type = 'number';
                    field_type = 'Number';
                    break;
                case 'float':
                    field_html_type = 'number';
                    field_type = 'Float';
                    break;
                case 'boolean':
                    field_html_type = 'number';
                    field_type = 'Boolean 0..1';
                    break;
                default:
                    field_db_type = 'text';
                    field_type = 'Text';
                    break;
            }


            var re = new RegExp("^[a-zA-Z0-9_]+$");

            if (field_name !== '' && re.test(field_name) && !fields_list.includes(field_name)) {
                tmp_html = html.replaceAll('__field_name__', field_name)
                    .replaceAll('__field_type__', field_type)
                    .replaceAll('__field_html_type__', field_html_type)
                    .replaceAll('__field_db_type__', field_db_type);
                fields_list.push(field_name);
                $('#fields_list').append(tmp_html);
                name_obj.value = '';
            } else if (fields_list.includes(field_name)) {
                $('body')
                .toast({
                    class: 'error',
                    position: 'bottom left',
                    message: 'Additional field "' + field_name + '" already exists!'
                });
            }


        }

        function delete_field(button_obj, field_name) {
            elem = button_obj.parentElement.parentElement.parentElement;
            elem.parentNode.removeChild(elem);

            for (var i = 0; i < fields_list.length; i++) {
                if (fields_list[i] === field_name) {
                    fields_list.splice(i, 1);
                }
            }
        }

        function delete_variable(button_obj, variable_name) {
            elem = button_obj.parentElement.parentElement.parentElement;
            elem.parentNode.removeChild(elem);

            for (var i = 0; i < variables_list.length; i++) {
                if (variables_list[i] === variable_name) {
                    variables_list.splice(i, 1);
                }
            }
        }

        var variables_list = [];

        const copyToClipboard = str => {
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            $('body')
                .toast({
                    class: 'success',
                    position: 'bottom left',
                    message: 'Variable ' + str + ' copied!'
                });
        };

        function add_variable() {
            html = `<div>
                              <h4>____var_name____ (__var_type__)</h4>
                              <input type="hidden" name="variable_name" value="__var_name__">
                              <input type="hidden" name="variable_type" value="__var_db_type__">
                                    <div class="ui two fields">
                                        <div class="field">
                                            <div class="ui input">
                                                <input type="__var_html_type__" placeholder="Default value" name="variable_value">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <button class="ui button orange" type="button" onclick="copyToClipboard('____var_name____');">
                                                <i class="copy icon"></i>Copy name
                                            </button>
                                            <button class="ui button red" type="button" onclick="delete_variable(this,'__var_name__');">
                                                <i class="trash icon"></i>Delete variable
                                            </button>
                                        </div>
                                    </div>
                    </div>`;
            name_obj = $('#var_name')[0];
            variable_name = name_obj.value.toString();
            variable_db_type = $('#var_type')[0].value.toString();
            variable_html_type = 'text'
            switch (variable_db_type) {
                case 'text':
                    variable_html_type = 'text';
                    variable_type = 'Text';
                    break;
                case 'number':
                    variable_html_type = 'number';
                    variable_type = 'Number';
                    break;
                case 'float':
                    variable_html_type = 'number';
                    variable_type = 'Float';
                    break;
                case 'boolean':
                    variable_html_type = 'number';
                    variable_type = 'Boolean 0..1';
                    break;
                default:
                    variable_db_type = 'text';
                    variable_type = 'Text';
                    break;
            }


            var re = new RegExp("^[a-zA-Z0-9\\-]+$");

            if (variable_name !== '' && re.test(variable_name) && !variables_list.includes(variable_name)) {
                tmp_html = html.replaceAll('__var_name__', variable_name)
                    .replaceAll('__var_type__', variable_type)
                    .replaceAll('__var_html_type__', variable_html_type)
                    .replaceAll('__var_db_type__', variable_db_type);
                variables_list.push(variable_name);
                $('#variables_list').append(tmp_html);
                name_obj.value = '';
                copyToClipboard('__' + variable_name + '__');
            } else if (variables_list.includes(variable_name)) {
                $('body')
                .toast({
                    class: 'error',
                    position: 'bottom left',
                    message: 'Variable name "' + variable_name + '" already exists!'
                });
            }
        }
    </script>
    <style>
        .ui.dropdown .menu {
            min-width: 100%;
        }

        .ui.dropdown.dropdown .menu > .input {
            min-width: 80%;
        }
    </style>
    <form class="ui form" method="post" action="/new_issue_template" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="template_name" value="{{ escape(request.args.get("issue_template_name")) }}">
        <div class="ui grid">
            <div class="ui column" style="width: 75px; padding-top: 50px;">
            </div>
            <div class="ui column" style="width: calc(100% - 75px);">
                <h1 class="ui dividing header">Create new issue template: {{ escape(request.args.get("issue_template_name")) }}</h1>
                <div class="ui grid">
                    <div class="two columns row">
                        <div class="ui column">
                            <div class="ui field" style="float: left; margin-bottom: 15px; max-width: 400px;">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 125px;">
                                        <i class="users icon"></i>Owner:
                                    </div>
                                    <div class="ui fluid selection dropdown">
                                        <input type="hidden" name="team_id" value="{{ escape(request.args.get("team_id")) }}">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select status</div>
                                        <div class="menu">
                                            <div class="item" data-value="">Personal account</div>
                                            {% set teams = db.select_user_teams(session['id']) %}
                                            {% for team in teams %}
                                                <div class="item" data-value="{{ team['id'] }}">Team: {{ escape(team['name']) }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui column">
                            <div class="ui field" style="float: right; margin-right: 27px; max-width: 400px;">
                                <div class="ui action input" style="float: right;">
                                    <input type="text" placeholder="test-var1 a-zA-Z0-9-" id="var_name">
                                    <select class="ui compact selection dropdown" id="var_type">
                                        <option selected="" value="text">Text</option>
                                        <option value="number">Number</option>
                                        <option value="float">Float</option>
                                        <option value="bool">Boolean</option>
                                    </select>
                                    <div class="ui button purple" type="button" onclick="add_variable();"><i class="icon plus"></i>Add</div>
                                </div>
                                <label style="float: right;clear: right; margin-right: 27px; font-size: 15pt;">Use variable in text like <b>__value-name__</b></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui top attached tabular menu" style="margin-bottom: 10px">
                    <a class="item active" data-tab="info">
                        Info
                    </a>
                    <a class="item" data-tab="fields">
                        Additional fields
                    </a>
                    <a class="item" data-tab="variables">
                        Required variables
                    </a>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui tab active" data-tab="info">
                    <div class="ui grid" style="width: 100%">
                        <div class="eight wide column">
                            <div class="ui container" style="width: 500px; float: left;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="at icon"></i>Name:
                                        </div>
                                        <input type="text" name="name" placeholder="SQL injection.." required>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="sticky note outline icon"></i>Description:
                                        </div>
                                        <textarea rows="8" name="description" placeholder="Vulnerability description"></textarea>
                                    </div>
                                </div>
                                <div class="ui field">
                                    <div class="ui labeled input">
                                        <div class="ui label" style="width: 125px;">
                                            <i class="medkit icon"></i>Fix:
                                        </div>
                                        <textarea rows="2" name="fix"
                                                  placeholder="To fix this vulnerability you need..."></textarea>
                                    </div>
                                </div>
                                <button class="ui button blue"><i class="plus icon"></i>Submit</button>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label">
                                        <i class="folder open icon"></i>URL path/service:
                                    </div>
                                    <input type="text" name="url" placeholder="/admin/">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CVSS:
                                    </div>
                                    <input type="text" name="cvss" step="0.01" min="0" max="10" placeholder="10.0" value="0">
                                    <button type="button" class="ui button blue" onclick="$('#cvss_hidden').toggle();">
                                        <i class="ui calculator icon"></i>CVSS calculator
                                    </button>
                                </div>
                            </div>
                            <div id="cvss_hidden" style="display: none">
                                <div class="ui divider"></div>
                                <div id="cvssboard">
                                </div>
                                <div class="ui divider"></div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CVE:
                                    </div>
                                    <input type="text" name="cve" placeholder="2020-1337">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="hashtag icon"></i>CWE:
                                    </div>
                                    <input type="text" name="cwe" placeholder="123" value="0">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="question circle icon"></i>Status:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="status" required value="Need to recheck">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select status</div>
                                        <div class="menu">
                                            <div class="item" data-value="PoC creation">PoC creation</div>
                                            <div class="item" data-value="PoC available">PoC available</div>
                                            <div class="item" data-value="Confirmed">Confirmed</div>
                                            <div class="item" data-value="Wasn't Confirmed">Wasn't Confirmed</div>
                                            <div class="item" data-value="Pending...">Pending...</div>
                                            <div class="item" data-value="Need to check">Need to check</div>
                                            <div class="item" data-value="Need to recheck">Need to recheck</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="exclamation triangle icon"></i>Criticality:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="criticality" required value="-1">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select criticality</div>
                                        <div class="menu">
                                            <div class="item" data-value="-1">use CVSS criticality</div>
                                            <div class="item" data-value="0"><i class="warning circle blue icon"></i>Information (cvss=0.0)</div>
                                            <div class="item" data-value="2"><i class="warning circle green icon"></i>Low (cvss=2.0)</div>
                                            <div class="item" data-value="5"><i class="warning circle yellow icon"></i>Medium (cvss=5.0)</div>
                                            <div class="item" data-value="8"><i class="warning circle orange icon"></i>High (cvss=8.0)</div>
                                            <div class="item" data-value="9.5"><i class="warning circle red icon"></i>Critical (cvss=9.5)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="desktop icon"></i>Parameter:
                                    </div>
                                    <input type="text" name="param" placeholder="(GET) id=123">
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui labeled input">
                                    <div class="ui label" style="width: 160px;">
                                        <i class="desktop icon"></i>Type:
                                    </div>
                                    <div class="ui fluid selection dropdown" id="services_list">
                                        <input type="hidden" name="issue_type" required value="custom">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select type</div>
                                        <div class="menu">
                                            <div class="item" data-value="custom">Custom</div>
                                            <div class="item" data-value="web">Web</div>
                                            <div class="item" data-value="credentials">Credentials</div>
                                            <div class="item" data-value="service">Service</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if errors is defined and errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with issue
                                    </div>
                                    <ul class="list">
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if errors is defined and not errors %}
                                <div class="ui success message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        Issue was added successfully!
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="ui tab" data-tab="fields">
                    <div class="ui grid">
                        <div class="two column row">

                            <div class="ui column">
                                <h2 class="ui dividing header">Text fields</h2>

                                <div id="fields_list">
                                </div>

                                <div class="divider"></div>
                                <h3 class="ui dividing header">Add field</h3>
                                <div class="ui three fields">
                                    <div class="field">
                                        <div class="ui input">
                                            <input type="text" id="field_name" placeholder="field_name [a-zA-Z0-9_]"> </input>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui fluid selection dropdown">
                                            <input type="hidden" id="field_type" value="text" required>
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select field type</div>
                                            <div class="menu">
                                                <div class="item" data-value="text">Text field</div>
                                                <div class="item" data-value="number">Number field</div>
                                                <div class="item" data-value="float">Float field</div>
                                                <div class="item" data-value="boolean">Boolean field</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="ui button blue" type="button" onclick="add_field();">
                                            <i class="icon plus"></i>Add variable
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="ui column">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab" data-tab="variables">
                    <div class="ui grid">
                        <div class="two column row">
                            <div class="ui column">
                                <h2 class="ui dividing header">Template variables</h2>
                                <div id="variables_list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>